<div *ngIf="product">
<div class="card">
    <div class="container-fliud">
        <div class="wrapper row">
            <div class="preview col-md-6">
                
                <div class="preview-pic tab-content">
                  <div class="tab-pane active" id="pic-1"><img src="{{ product.image }}" /></div>
                  </div>
                
                
            </div>
            <div class="details col-md-6">
                <h3 class="product-title">{{product.nom}}</h3>
                
                <p class="product-description">
                    Le Lorem Ipsum est simplement du faux texte employé dans la 
                    composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de 
                    l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla 
                    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de 
                    texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la 
                    bureautique informatique, sans que son contenu n'en soit modifié. Il a été 
                    popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des 
                    passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des 
                    applications de mise en page de texte, comme Aldus PageMaker.
                </p>
                <h4 class="price">current price: <span>{{product.prix}}</span>&nbsp;Fcfa</h4>
                <p class="vote"> Vous pouvez contacter le vendeur pour négocier le produit </p>
                <h5 class="sizes">sizes:
                    <span class="size" data-toggle="tooltip" title="small">Cheikh Thiam</span>
                </h5>
                <h5 class="colors">Téléphone:
                    <span class="size" data-toggle="tooltip" title="small">77 150 66 24</span>
                </h5>
                <h5 class="colors">Louma:
                    <span class="size" data-toggle="tooltip" title="small">Bambey</span>
                </h5>
                
            </div>
        </div>
    </div>
</div>
</div>